.red {
  color: #f30d5a;
}

.bold {
  font-weight: bold;
}

.button {
  background-color: #f30d5a;
  color: #f2f2f2;
  font: inherit;
  border: none;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: rgba(243, 13, 90, 0.719);
  color: #f2f2f2;
}

.button-art {
  cursor: pointer;
  border: none;
  padding: 8px 20px;
  background-color: #f30d5a;
  color: #f2f2f2;
  border-radius: 8px 8px 8px 8px;
  border-left: 1px solid #bb3461;
  border-right: 1px solid #bb3461;
  border-bottom: 5px solid #bb3461;
}

.button-art:hover {
  background-color: #f30d5a;
  color: #f2f2f2;
}

.button-art.active {
  margin-top: 2px;
  border-bottom: 3px solid #bb3461;
}
